body {
    background-color: #092238;
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 2%;
    overflow: hidden;
}

/*
 Basic layout:

    Column 1                        Column 2
  _________________________________________
 |  widgetContainer                 |
 |  _______________________________________
 |  |  widgetMainContainer          |
 |  |       widgetMainText          |
 |  |       widgetMainTextSmall     |
 |  ---------------------------------------
 |  |  widgetSecondaryContainer     |
 |  |       widgetSecondaryText     |
 |  |       widgetSecondaryImg      |
 |  |______________________________________
 |__________________________________|______

 */
.columnContainer {
    height: 60%;
}

.column {
    float:left;
    width: 50%;
}

.widgetContainer {
    display: block;
    width: 100%;
}

.widgetMainContainer {
    display: flex;
}

.widgetMainText {
    font-size: 10vw;
    color: #A9DDEA;
}

.widgetMainTextSmall {
    font-size: 2vw;
    padding-top: 8vw;
    color: ivory;
}

.widgetSecondaryContainer {
    padding-top: 2vw;
}

.widgetSecondaryText {
    font-size: 3.5vw;
    display: inline-block;
    vertical-align: top;
    color: ivory;
}

.widgetSecondaryImg {
    margin: auto;
    width: auto;
    display: inline-block;
    vertical-align: top;
    max-height: 50px;
}


/*
Nav Bar
 */
.navbar {
    /*background-color: gainsboro;*/
    /*display: flex-;*/
    padding-bottom: 10px;
    border-bottom: solid ivory;
    border-width: 2px;
    max-height: 7vw;
}

.navbutton {
    max-width: 5vw;
    height: 100%;
    padding: 0% 5% 0% 5%;
    background-color: #092238;
    border: hidden;
    margin-right: 2.5%;
}

.navicon {
    max-width: 5vw;
    height: 100%;
    max-height: 5vw;
    padding: 0% 5% 0% 5%;
    /*background-color: #fca103;*/
    margin-right: 2.5%;
    /*border: solid red;*/
    /*border-width: 1px;*/
}

/*a, .navbar-nav, .navbar-light .nav-link {*/
/*    color: gainsboro;*/
/*}*/

.modal-content {
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    background-color: ivory;
    /*padding-right: 17px;*/
    border: solid red;
    border-width: 1px;
    border-radius: 20px;
}


/*
   This will be all of the contact sensor stuff
 */
.sensorContainer {
    position: relative;
    bottom: 20%;
    left: 0%;
    height: 20%;
    width: 90%;
    display: inline-block;
    /*padding-top: 2.5%;*/
}

.sensorButton {
    border-radius: 1vw;
    margin: 2.5% 0% 2.5% 0%;
    width: 90%;
    display: table;
    height: 50%;
    padding-bottom: 10px;
}

.sensorButtonText {
    text-align: center;
    vertical-align: center;
    font-size: 6vw;
    display: table-cell;
}

.false {
    color: #092238;
    background-color: #A9DDEA;
}

.true {
    color: #092238;
    background-color: ivory;
}

.blink-true {
    background-color: #fca103;
}
